body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: #4a46e5;
    color: white;
}

.count-box {
    margin-top: 30px;
    background: white;
    padding: 15px;
}
